/* Editform.css */

.edit-form {
    display: flex;
    max-width: 300px;
    margin: 40px auto 0;
  }
  
  .edit-form-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
    margin-right: 10px;
    border: 2px solid #18211a;
    border-radius: 4px;
  }
  
  .invalid {
    border: 2px solid #ff0000;
  }
  
  .edit-save-button,
  .edit-cancel-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .edit-save-button {
    background-color: #664caf;
    color: #fff;
    margin-right: 5px;
  }
  
  .edit-cancel-button {
    background-color: #e91e63;
    color: #fff;
  }
  
  .edit-save-button:hover {
    background-color: #45a049;
  }
  
  .edit-cancel-button:hover {
    background-color: #ff4081;
  }
  